[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.19"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "paris"

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "attributes_first"
quote_style = "double"
number_underscore = "thousands"
single_line_statement_blocks = "preserve"

[rpc_endpoints]
kub_mainnet = "${KUB_MAINNET_RPC_URL}"
kub_testnet = "${KUB_TESTNET_RPC_URL}"
jbc = "${JBC_RPC_URL}"
bsc = "${BSC_RPC_URL}"

[etherscan]
kub_mainnet = { key = "${KUBSCAN_API_KEY}" }
bsc = { key = "${BSCSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
